body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #505050;
  color: #fff;
  text-align: center;
}

#list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
}

.card {
  border-radius:8px;
  background-color: lightpink;
}

.error {
  color: #ff0033;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: ;
}